{%extends 'base.html'%}
{%block title%}
about
 {%endblock%}
 {%block content%}
 <div class="mx-auto w-50 bg-light  text-black p-3 my-3 border border-warning rounded" >
    <h1 class="text-center">About our Hospital</h1>
    <p>
        Welcome to City Hospital, where compassionate care meets cutting-edge medicine. 
        Located in the heart of our vibrant city, our hospital has been serving the community for over 50 years, 
        and we take pride in being a trusted healthcare provider. Our dedicatedteam of healthcare professionals 
        is committed to delivering the highest quality of care, ensuring your well-being is our top priority.
    </p>
    <p>
        At City Hospital, we offer a wide range of medical services to meet your healthcare needs. 
        From our state-of-the-art emergency department that operates around the clock, to our advanced 
        surgical suites equipped with the latest technology, we are equipped to handle a variety of medical conditions.
         Our team of experienced physicians, nurses, and support staff work together to provide personalized care 
         tailored to your unique needs.
    </p>
    <p>
        One of our key strengths is our commitment to innovation and research. City Hospital is 
        affiliated with leading medical schools and research institutions, allowing us to stay 
        at the forefront of medical advancements. We continuously invest in the latest medical 
        technologies and treatments to ensure that you receive the best possible care. Our 
        commitment to research and innovation extends to our medical staff, who are encouraged
         to engage in ongoing professional development to maintain their expertise.
    </p>

    <p>
        At City Hospital, we believe in a patient-centered approach to healthcare. We understand
         that navigating the healthcare system can be daunting, so we strive to make your 
         experience as seamless as possible. Our caring and compassionate staff are here to 
         listen to your concerns, answer your questions, and provide the support you need 
         throughout your healthcare journey. Your comfort and well-being are of utmost importance to us.
    </p>

    <p>
        Community involvement is another cornerstone of our hospital's mission. We actively participate 
        in outreach programs, health fairs, and educational initiatives to promote health and well-being
         in our city. We value our role as a responsible corporate citizen and are dedicated to giving
          back to the community that has supported us for decades.
    </p>

    <p>
        Thank you for choosing City Hospital as your healthcare provider. We are honored to serve you and your 
        loved ones and look forward to being your partner in health for many years to come. If you have any 
        questions or would like to learn more about our services, please do not hesitate to reach out to us. 
        Your health is our priority, and we are here to support you every step of the way.  
    </p>

 </div>
    
 </div>
  {%endblock%}
