{%extends 'base.html'%}
{%block title%}
contact
 {%endblock%}
 {%block content%}
 <h1 class="text-center">Contact Us </h1>
 <hr>
 <div class="mx-auto w-100 bg-light text-center text-info p-3 my-5 border border-warning rounded" >
    <h1>Address:</h1>
    <h3>City Hospital</h3>
    <h3>123 Main Street</h3>
    <h3>Noida, Delhi, 51634</h3>
 </div>

 <div class="mx-auto w-100 bg-light text-center text-info p-3 my-5 border border-warning rounded" >
    <h1>Phone:</h1>
    <h3>General Inquiries: (783) 456-7890</h3>
    <h3>Emergency Line: (783) 789-4560 (Available 24/7)</h3>
 </div>

 <div class="mx-auto w-100 bg-light text-center text-info p-3 my-5 border border-warning rounded" >
    <h1>Email:</h1>
    <h3>General Inquiries: info@cityhospital.com</h3>
    <h3>Patient Services: patientservices@cityhospital.com</h3>
    <h3>Patient Services: patientservices@cityhospital.com</h3>
    <h3>Billing and Insurance: billing@cityhospital.com</h3>
 </div>
  {%endblock%}

